:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #00008B; /* Dunkelblau */
  color: white; /* Optional: Textfarbe weiß */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo-page img {
  width: 380px;
  height: 380px;
  margin-bottom: 20px;
}

.logo-page button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ändere von center zu flex-start */
  align-items: center;
  height: 100vh;
}

.page img {
  width: 200px; /* Passe die Größe des Logos an */
  height: 200px; /* Passe die Größe des Logos an */
  margin-bottom: 20px;
}

.page button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-page, .register-page, .home-page, .profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ändere von center zu flex-start */
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-page h1, .register-page h1, .home-page h1, .profile-page h1, .logo-sipster a {
  color: rgb(240,191,66);
}

.logo-sipster {
  a{font-size: 70px;}
  
  font-family: fantasy;
}

.login-page input, .register-page input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px; /* Kleinere Schriftgröße */
  width: 228px;
  border-radius: 20px; 
  border: 1px solid #ccc; /* Optional: Rahmenfarbe */
}

.login-page button, .register-page button, .home-page button, .profile-page button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
  border-radius: 20px; 
  width: 250px;
  height: 38px;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.register-link a {
  color: rgb(240,191,66);
  cursor: pointer;
  text-decoration: underline;
}

.register-link a:hover {
  color: #ff4500; /* Farbe beim Hover über den Registrierungslink */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
  border: none;
  border-radius: 4px;
  color: #000;
}

.back-button:hover {
  background-color: rgb(220,171,46);
}

.back-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  color: rgb(240,191,66);
  text-decoration: none;
}

.back-link:hover {
  color: rgb(220,171,46);
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Füge einen oberen Rand hinzu */
  cursor: pointer;
}

.profile-pic {
  width: 60px !important; /* Verkleinere das Profilbild */
  height: 60px !important; /* Verkleinere das Profilbild */
  border-radius: 50%;
  margin-bottom: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Links ausrichten */
  width: 100%;
  padding: 0 20px;
  margin-left: 10px; /* Abstand nach links */
}

.category h2 {
  font-size: 12px; /* Kleinere Schriftgröße */
  margin-bottom: 10px;
}

.category-items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: auto; /* Ermöglicht horizontales Scrollen */
  white-space: nowrap; /* Verhindert Zeilenumbruch */
  width: 340px;
}

.category-item {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100px;
}

.bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.bar-container h2 {
  font-size: 12px; /* Gleiche Größe wie Kategorie */
  margin-bottom: 10px;
}

.bar-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bar-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.bar-details img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

.bar-details img::after {
  content: attr(data-price);
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.bar-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox-container input {
  margin-right: 5px; /* Reduziere den Abstand auf maximal 5px */
}

.checkbox-container label {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.navigation-bar {
  position: fixed; /* Ändere von sticky zu fixed */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
}

.navigation-bar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.navigation-bar a:hover {
  color: #ff4500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
