:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #00008B; /* Dunkelblau */
  color: white; /* Optional: Textfarbe weiß */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo-page img {
  width: 380px;
  height: 380px;
  margin-bottom: 20px;
}

.logo-page button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page img {
  width: 200px; /* Passe die Größe des Logos an */
  height: 200px; /* Passe die Größe des Logos an */
  margin-bottom: 20px;
}

.page button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-page, .register-page, .home-page, .profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-page h1, .register-page h1, .home-page h1, .profile-page h1 {
  color: rgb(240,191,66);
}

.login-page input, .register-page input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.login-page button, .register-page button, .home-page button, .profile-page button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(240,191,66);
  border: none;
  border-radius: 4px;
  color: #000;
}

.back-button:hover {
  background-color: rgb(220,171,46);
}

.profile-button {
  margin-bottom: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bar-item img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.bar-item p {
  font-size: 18px;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
